      
        .anta-regular {
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #000;
            height: 100vh;
            position: relative;
        }

        .header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: rgba(38, 39, 39, 0.8);
            box-sizing: border-box;
            color: #fff;
            font-size: 20px;
            line-height: 29px;
            text-align: left;
            padding-left: 100px;
            font-family: "Anton", sans-serif;
            z-index: 999;
            display: flex;
            justify-content: space-between;
        }

        .web3-headings span {
            letter-spacing: 2px;
        }

        .header i {
            margin-right: 15px;
        }

        .header-text {
            display: flex;
            align-items: center;
        }

        .web3-headings {
            margin-right: 25px;
        }

        .logo {
            max-height: 10px;
            margin-right: 20px;
        }

        .social-icons {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
        }

        .social-icons li {
            margin-right: 15px;
        }

        .social-icons li:last-child {
            margin-right: 0;
        }

        .social-icons a {
            color: #fff;
            text-decoration: none;
            font-size: 30px;
            box-shadow: none;
        }

        .video-container {
            position: absolute;
            top: 140px;
            right: 85px;
            padding: 10px;
            backdrop-filter: blur(10px);
            z-index: 1;
        }

        iframe {
            pointer-events: none;
        }

        .intro-text {
            position: absolute;
            top: 140px;
            left: 140px;
            padding: 10px;
            color: #fff;
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 48px;
            line-height: 64px;
            z-index: 2;
        }

        .button-container {
            position: absolute;
            top: 515px;
            left: 153px;
            display: flex;
            gap: 10px;
            z-index: 2;
        }

        .grey-button {
            background-color: grey;
            color: #fff;
            padding: 10px 152px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .additional-text {
            position: absolute;
            top: 400px;
            left: 151px;
            color: #99a1ba;
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            line-height: 26px;
            z-index: 2;
        }

        .apply-now-button {
            position: absolute;
            top: 570px;
            left: 153px;
            background-color: #fff;
            color: grey;
            padding: 10px 257px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            z-index: 2;
        }

        .additional-info-text {
            position: absolute;
            top: 620px;
            left: 153px;
            color: #99a1ba;
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            z-index: 2;
        }

        .bottom-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1000px;
        }